# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example 
# La riga !.env.example è opzionale: se crei un file .env.example
# (senza valori sensibili, solo i nomi delle variabili) per gli altri sviluppatori,
# puoi escluderlo da .gitignore per committerlo.

patch.diff